/* google font Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}



/* header section ------------------- */
.icon{
    display: flex; 
    align-items: center;
}
.icon h1 {
    font-size: 30px;
    padding-left: 15px;
}

.icon span {
    color: #ff5400;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
}
.nav li {
    list-style: none;
    display: inline;
}
.nav li a {
    text-decoration: none;
    color: #000000ab;
    padding: 0px 15px;
    font-weight: 500;
}
.nav li a:hover {
    color: #ff5400;
}
#active{
    color: #ff5400;
}


i.fa-solid.fa-bars {
    display: none;
}



/* banner-find-travel section -------------------- */

  .banner-find-travel-img img {
    width: 100%;
}

.banner-find-travel-img {
    position: relative;
}

.banner-find-travel-des {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.icon-container {
    position: relative;
    width: 150px;
    margin: 0px 20px 0px 0px;
  }


  .icon-container input {
    padding-left: 30px; /* Adjust as needed */
  }
  
  .icon-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
.banner-find-travel-container{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0 0 0 / 69%)), url(images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}
  .travel-search-input {
    display: flex;
}
.banner-find-travel-des h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    padding: 0px 0px 20px 0px;
}

.banner-find-travel-des p {
    color: #f7f2f2;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 15px 0px;
}



.travel-search-input {
    height: 45px;
    padding: 20px;
    position: absolute;
    top: 0;
}

.travel-search-input input {
    height: 100%;
    width: 150px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 0 0px;
}

.travel-search-input button {
    width: 120px;
    height: 42px;
    margin: 1px 0px 0px 0px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #ff5400;
    color: #fbfbfb;
    font-weight: 500;
    font-size: 15px;
}
.travel-search-container {
    width: 670px;
    height: 83px;
    background: #ffffff57;
    position: relative;
    border-radius: 5px;
}



/* popular tour section-------------------------- */

.popular-tour-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.popular-tour-img {
    width: 50%;
}
.popular-tour-des h1 {
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 25px;
}

.popular-tour-des {
    color: #000000ad;
    letter-spacing: 1px;
    line-height: 25px;
    padding-right: 30px;
    width: 50%;
}

.popular-tour-img img {
    width: 100%;
}

.popular-des-oreder-list {
    padding: 15px 20px 15px 20px;
}

.popular-des-oreder-list li {
    padding: 10px 0;
}

button#btn {
    padding: 13px 35px;
    border: none;
    background: #ff5400;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

button#btn:hover {
    background: #bd370dc2;
}






















/* @media section  */
@media only screen and (max-width: 600px) {
    .container{
        overflow: hidden;
        width: 90%;
    }
    .header .nav ul{
        display: none;
    }
    .banner-find-travel-des h1 {
        font-size: 30px;
        letter-spacing: 0;
        padding: 5px;
    }

    .banner-find-travel-des p {
        letter-spacing: 0px;
        padding: 15px 0px 30px 0px;
    }
    .travel-search-input button {
        width: 95%;
        height: 58px;
        margin: 15px 0px 0px -15px;
    }

    .nav i {
        font-size: 22px;
        cursor: pointer;
    }

    i.fa-solid.fa-bars {
        display: block;
    }

    .travel-search-input {
        display: inline-table;
        left: 240px;
        width: 300px;
        position: static;
    }

    .travel-search-input input {
        height: 50px;
        width: 300px;
        padding-left: 10px;
        border-radius: 5px;
        border: none;
        margin: 8px 10px 0 0px;
    }
    .icon-container{
        width: auto;
        margin: 0;
    }
    .icon-container i {
        right: 30px;
    }
    
    .banner-find-travel-container{
        padding: 40px 0;
    }
    
    .travel-search-container {
        width: auto;
        height: auto;
    }


    /* popular plan  */
    .popular-tour-container{
        display: inline-block;
    }
    .popular-tour-des{
        width: 100%;
        padding-right: 0;
        margin-top: 40px;
    }
    .popular-tour-img{
        width: 100%;
        margin-top: 40px;
    }
    .popular-tour-des h1 {
        font-size: 25px;
        padding-bottom: 15px;
    }
}