/* google font Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}



/* header section ------------------- */
.icon{
    display: flex; 
    align-items: center;
}
.icon h1 {
    font-size: 30px;
    padding-left: 15px;
}

.icon span {
    color: #ff5400;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
}
.nav li {
    list-style: none;
    display: inline;
}
.nav li a {
    text-decoration: none;
    color: #000000ab;
    padding: 0px 15px;
    font-weight: 500;
}
.nav li a:hover {
    color: #ff5400;
}
#active{
    color: #ff5400;
}


i.fa-solid.fa-bars {
    display: none;
}



/* banner-find-travel section -------------------- */

  .banner-find-travel-img img {
    width: 100%;
}

.banner-find-travel-img {
    position: relative;
}

.banner-find-travel-des {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.icon-container {
    position: relative;
    width: 150px;
    margin: 0px 20px 0px 0px;
  }


  .icon-container input {
    padding-left: 30px; /* Adjust as needed */
  }
  
  .icon-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
.banner-find-travel-container{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0 0 0 / 69%)), url(images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}
  .travel-search-input {
    display: flex;
}
.banner-find-travel-des h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    padding: 0px 0px 20px 0px;
}

.banner-find-travel-des p {
    color: #f7f2f2;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 15px 0px;
}



.travel-search-input {
    height: 45px;
    padding: 20px;
    position: absolute;
    top: 0;
}

.travel-search-input input {
    height: 100%;
    width: 150px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 0 0px;
}

.travel-search-input button {
    width: 120px;
    height: 42px;
    margin: 1px 0px 0px 0px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #ff5400;
    color: #fbfbfb;
    font-weight: 500;
    font-size: 15px;
}
.travel-search-container {
    width: 670px;
    height: 83px;
    background: #ffffff57;
    position: relative;
    border-radius: 5px;
}



/* popular tour section-------------------------- */

.popular-tour-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.popular-tour-img {
    width: 50%;
}
.popular-tour-des h1 {
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 25px;
}

.popular-tour-des {
    color: #000000ad;
    letter-spacing: 1px;
    line-height: 25px;
    padding-right: 30px;
    width: 50%;
}

.popular-tour-img img {
    width: 100%;
}

.popular-des-oreder-list {
    padding: 15px 20px 15px 20px;
}

.popular-des-oreder-list li {
    padding: 10px 0;
}

button#btn {
    padding: 13px 35px;
    border: none;
    background: #ff5400;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

button#btn:hover {
    background: #bd370dc2;
}


/* Destinations section ----------------------------- */
.destinations-title {
    width: 600px;
    margin: auto;
    text-align: center;
}

.destinations-title h1 {
    font-size: 40px;
    padding: 50px 0 10px 0;
}

.destinations-title h6 {
    font-size: 14px;
    color: #000000a3;
    padding: 10px 0 50px 0;
}


.destination-first-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.destination-first-row img {
    width: 100%;
    height: 270px;
}

.destination-all {
    position: relative;
}

.destination-des{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.desc-all {
    color: white;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 6px;
}

.destination-second-row {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    gap: 20px;
    margin-top: 20px;
}

.destination-second-row img {
    width: 100%;
    height: 270px;
}

.destination-third-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: 20px 0 40px 0px;
}

.destination-third-row img {
    width: 100%;
    height: 270px;
}


/* why choose us section ----------------------- */

.choose-first-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.choose-all img {
    width: 100px;
}

.choose-all h2 {
    padding: 25px 0 15px 0;
    font-size: 23px;
}

.choose-all p {
    font-size: 15px;
    color: #000000b8;
    line-height: 25px;
    padding: 5px 0px 10px 0;
}
.choose-first-left {
    background: #fff6ea;
    padding: 25px;
    border-radius: 10px;
    border: 1.5px solid #ffc0cbad;
}

.choose-first-right {
    background: #f3fbfd;
    border-radius: 10px;
    padding: 25px;
    border: 1.5px solid #a4d0db94;
}

.choose-single-row {
    width: 530px;
    margin: auto;
    margin-top: 20px;
}







/* newsletter section -------------------------------- */
.newsletter-wrapper {
    display: flex;
    width: 100%;
}
section.newsletter {
    margin: 50px 0 80px 0px;
}
.newsletter-input-wrapper {
    border: 1px solid #ff702c;
    border-radius: 10px;
    width: 35%;
    
    padding: 30px;
}
.news-form {

}

.news-img {
    width: 60%;
    padding: 0px 0px 0 25px;
    position: relative;
}

.news-img img {
    width: 100%;
    height: 420px;
}

.news-form h2 {
    font-size: 23px;
    padding: 10px 0 15px 0px;
}

.news-form p {
    color: #0000009e;
    line-height: 25px;
    padding: 0px 50px 15px 0px;
}
.news-input-section input {
    width: 91%;
    padding: 15px 15px;
    background: #7e72721c;
    border: none;
    margin: 6px 0;
    border-radius: 5px;
}
.news-input-section button {
    background: #ff5400;
    border: none;
    width: 98%;
    height: 50px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 13px;
    cursor: pointer;
}

hr.hr-2 {
    border: none;
    height: 1px;
    background: #00000030;
    width: 99%;
    margin: 20px 0;
}


.img-des-news {
    width: 250px;
    background: #ff5400;
    height: 80px;
    color: white;
    text-align: center;
    padding: 25px 0px 0px 0px;
    border-radius: 10px;
    position: absolute;
    bottom: 13%;
    right: 15px;
    rotate: -30deg;
}

.img-des-news p {
    font-size: 18px;
}

.img-des-news h3 {
    font-size: 25px;
}









/* footer section ----------------------------------- */
footer{
    background-color: #f3f3f4;
}

.footer-wrap {
    text-align: center;
    padding: 100px;
    margin-top: 50px;
}

.footer-title {margin: auto;width: 235px;}

.footer-des p {
    width: 700px;
    margin: auto;
    color: #00000091;
    line-height: 25px;
    padding: 26px 0;
}

.footer-social-icon i {
    color: black;
    text-decoration: none;
    padding: 12px;
    font-size: 25px;
}

.footer-social-icon {
    margin-bottom: 30px;
}

hr.hr {
    width: 700px;
    margin: auto;
    border: none;
    height: 1px;
    background: #00000030;
}

.footer-wrap h5 {
    padding: 25px;
    color: #000000b3;
    font-size: 15px;
}




















/* @media section  */
@media only screen and (max-width: 600px) {
    .container{
        overflow: hidden;
        width: 90%;
    }
    .header .nav ul{
        display: none;
    }
    .banner-find-travel-des h1 {
        font-size: 30px;
        letter-spacing: 0;
        padding: 5px;
    }

    .banner-find-travel-des p {
        letter-spacing: 0px;
        padding: 15px 0px 30px 0px;
    }
    .travel-search-input button {
        width: 95%;
        height: 58px;
        margin: 15px 0px 0px -15px;
    }

    .nav i {
        font-size: 22px;
        cursor: pointer;
    }

    i.fa-solid.fa-bars {
        display: block;
    }

    .travel-search-input {
        display: inline-table;
        left: 240px;
        width: 300px;
        position: static;
    }

    .travel-search-input input {
        height: 50px;
        width: 300px;
        padding-left: 10px;
        border-radius: 5px;
        border: none;
        margin: 8px 10px 0 0px;
    }
    .icon-container{
        width: auto;
        margin: 0;
    }
    .icon-container i {
        right: 30px;
    }
    
    .banner-find-travel-container{
        padding: 40px 0;
    }
    
    .travel-search-container {
        width: auto;
        height: auto;
    }


    /* popular plan  */
    .popular-tour-container{
        display: inline-block;
    }
    .popular-tour-des{
        width: 100%;
        padding-right: 0;
        margin-top: 40px;
    }
    .popular-tour-img{
        width: 100%;
        margin-top: 40px;
    }
    .popular-tour-des h1 {
        font-size: 25px;
        padding-bottom: 15px;
    }


    /* destination section ------------------------------- */
    .destinations-title{
        width: auto;
    }
    .destinations-title h1 {
        font-size: 25px;
        padding: 10px 0 10px 0;
    }
    .destinations-title h6 {
        letter-spacing: 1px;
        line-height: 25px;
    }
    .destination-first-row , .destination-second-row , .destination-third-row  {
        display: block;
    }
    .destination-first-row img , .destination-second-row img, .destination-third-row img {
        margin-top: 20px;
    }


    /* choose section --------------- */
    .choose-first-row {
        display: block;
    }
    .choose-single-row{
        width: auto;
    }
    .choose-first-left{
        margin-bottom: 20px;
    }


    /* footer section ---------------------- */
    hr.hr{
        width: 100%;
    }
    .footer-des p{
        width: 100%;
    }
    .footer-wrap {
        padding: 60px 20px 10px 20px;
    }
    
    
    /* newsletter section ------------------------------ */
    .newsletter-wrapper{
        display: block;
    }
    .news-form h2{
        padding: 0 0 10px 0px;
    }
    .news-img{
        width: 100%;
        padding: 0px 0px 0 0px;
    }
    .news-img img{
        height: 410px;
  
    }
    .img-des-news{
        bottom: 16%;
    }
    section.newsletter {
        margin: 50px 0 0px 0px;
    }
    .newsletter-input-wrapper{
        width: 80%;
    }
    .newsletter-input-wrapper{
        margin: 25px 0;
    }
    hr.hr-2 {
        margin: 10px 0;
    }
}